# Automatically normalize line endings for all text-based files
# http://git-scm.com/docs/gitattributes#_end_of_line_conversion
* text=auto

# For the following file types, normalize line endings to LF on
# checkin and prevent conversion to CRLF when they are checked out
# (this is required in order to prevent newline related issues like,
# for example, after the build script is run)
# Source: https://gist.github.com/motss/199ceb253f27904cff41eef75aac2fae
.*      text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.scss  text eol=lf
*.md    text eol=lf
*.rs    text eol=lf
*.sh    text eol=lf
*.toml  text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf


# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
# Source: https://github.com/swisnl/gists/blob/master/gitattributes/.gitattributes
*.gif     -text diff
*.gz      -text diff
*.ico     -text diff
*.jpeg    -text diff
*.jpg     -text diff
*.png     -text diff
*.phar    -text diff
*.pdf     -text diff
*.exe     -text diff
*.svgz    -text diff
*.eot     -text diff
*.ttf     -text diff
*.woff    -text diff
*.woff2   -text diff
*.webp    -text diff
