@import "grid_mixins";

%l-container {
	@include make-container();
}

%l-row {
	@include make-row();
}

%l-col {
	@include make-col();
}

$_breakpoint-columns: 0; // don't set. only relevant to the following @each loop
// Loop through the breakpoints configuration map to create the appropriate column span
// scss placeholders, and optionally css selectors, for each breakpoint
@each $breakpoint-name, $breakpoint-config in $breakpoints {
	$breakpoint-min-width: map-get($breakpoint-config, "min-width");

	// are columns defined for this breakpoint? If so, use them, if not keep using the values
	// from the previous breakpoint
	@if map-has-key($breakpoint-config, "columns") {
		$_breakpoint-columns: map-get($breakpoint-config, "columns");
	}

	@if $breakpoint-min-width != 0 {
		@media (min-width: $breakpoint-min-width) {
			@for $i from 1 through $_breakpoint-columns {
				%l-col--#{$i}\/#{$_breakpoint-columns}\@#{$breakpoint-name} {
					@include make-col-span($i, $_breakpoint-columns);
				}
			}
		}
	} @else {
		@for $i from 1 through $_breakpoint-columns {
			%l-col--#{$i}\/#{$_breakpoint-columns} {
				@include make-col-span($i, $_breakpoint-columns);
			}
		}
	}
}
